<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% load chartit %}
    {{ stats|load_charts:"container" }}
</head>
<body>

    <form action="" method="get" style="margin: 20px auto 50px auto; width: 350px">
        {{ form.month.label_tag }}
        {{ form.month }}
        {{ form.year }}
        <input type="submit" value="Обновить">
    </form>

    <div id='container'> Chart will be rendered here </div>
</body>
</html>