{% load static %}
{% load get_count_of_used_functions %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive_rtl.css' %}">
    <link href="{% static 'beegym/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    {% load chartit %}
    {{ stats|load_charts:"container" }}
</head>
<body>
<div id="header">
    <div id="branding"><h1 id="site-name">Статистика Beegym Telegram-bot</h1></div>
    <div id="user-tools">
        Добро пожаловать,
        <strong>{{ request.user }}</strong>.
        <a href="{% url 'admin:index' %}">Администрирование</a> /
        <a href="{% url 'admin:logout' %}">Выйти</a>
        </div>
</div>
    <form action="" method="get">
        {{ form.month.label_tag }}
        {{ form.month }}
        {{ form.year }}
        <input type="submit" value="Обновить">
    </form>
    <div id='container'> Chart will be rendered here </div>
    <div id="subscribers-table">
        <h2>Использование функций бота подписчиками</h2>
        <table>
            <thead>
                <th>№</th>
                <th>telegram-id</th>
                <th>Имя</th>
                <th>Start</th>
                <th>Подписаться</th>
                <th>Отписаться</th>
                <th>Срок действия абонемента</th>
                <th>Список групп для подписки</th>
                <th>Мои подписки</th>
                <th>Расписание</th>
            </thead>
            <tbody>
            {% for s in subscribers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ s.chat_id }}</td>
                    <td>{{ s.name }}</td>
                    <td>{{ s.used_functions|get_count:"start" }}</td>
                    <td>{{ s.used_functions|get_count:"Подписаться" }}</td>
                    <td>{{ s.used_functions|get_count:"Отписаться" }}</td>
                    <td>{{ s.used_functions|get_count:"Срок действия абонемента" }}</td>
                    <td>{{ s.used_functions|get_count:"Список групп для подписки" }}</td>
                    <td>{{ s.used_functions|get_count:"Мои подписки" }}</td>
                    <td>{{ s.used_functions|get_count:"Расписание" }}</td>
                </tr>
            {% endfor %}
            <tr>
            <td></td><td></td><td>Итого:</td>
                    <td>{% get_total_count "start" %}</td>
                    <td>{% get_total_count "Подписаться" %}</td>
                    <td>{% get_total_count "Отписаться" %}</td>
                    <td>{% get_total_count "Срок действия абонемента" %}</td>
                    <td>{% get_total_count "Список групп для подписки" %}</td>
                    <td>{% get_total_count "Мои подписки" %}</td>
                    <td>{% get_total_count "Расписание" %}</td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>